footer{
    background-color: $primary-color;
    padding-top: 36px;
    padding-bottom: 30px;
    .wrapper{
        
        .footer1{
            display: flex;
            justify-content: space-between;

            @include mq(420px){
                justify-content:center;
            }


            img{
                width: 80px;
                height: 20px;

                @include mq(420px){
                    width: 0px;
                     }
            }
           nav{
               p{
                   font-size: 15px;
               }
               ul{
                   display: flex;


                   li{
                       margin-right: 30px;

                       img{
                           width: 20px;
                           height: 20px;

                            @include mq(420px){
                                text-align: center;
                                width: 40px;
                                height: 40px;
                                top:50px;
                                font-size: 35px;
                            }
                       }
                    &:last-child{
                        margin-right: 0;
                    }

                    
                    


                   }
               }
           }

        }
        .footer2{
            margin-top: 40px;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            @include mq(420px){
                justify-content:center;
            }

            p{
                font-size: 15px;

                @include mq(420px){
                    display: none;
                }
            }

            ul{
                display: flex;
                justify-content: space-between;
                
                @include mq(420px){
                    flex-direction:column;
                    text-align: center;
            
                }
                
                li{
                    font-size: 15px;
                    position: relative;
                    margin-right: 28px;

                    @include mq(420px){
                        font-size: 15px;
                        margin-right:0;
                        margin-bottom:32px;
                    }


                    &:last-child{
                        margin-right: 0;

                        @include mq(420px){
                            margin-bottom:0;
                        }
                    }

                    
                    &:after{
                        text-align: center;
                        content:"";
                        background-color: $light-color;
                        position: absolute;
                        width: 1px;
                        height: 15px;
                        right: 0;
                        top: 5px;
                        display: block;
                        margin-right: -12px;

                        @include mq(420px){
                        display:none;
                           
                           
                        }

                    
                        }
                    &:nth-of-type(5){
                        &:after{
                            display: none;

                            @include mq(420px){
                                width: 265px;
                                height: 1px;
                            }

                        }
                    }

                    }

                }
            }    
        .footer3{ 
            padding-top: 20px;
            position: relative;
            &:before{
                content: "";
                background-color:white ;
                position: absolute;
                width: 100%;
                height: 2px;
                right: 0;
                top: 0;

                @include mq(420px){
                    width: 265px;
                    height: 1px;
                    right: 30px;
                   

                }

            }
            font-size: 12px;
            color: $light-color;

            

        }

    }
}