header{
    padding-top:40px;
    padding-bottom:40px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 3;

    @include mq(420px){
        display:none;
    }
    .wrapper{
        display:flex;
        align-items: center;

        .logo{
            margin-right:70px;
        }

        nav{
            flex: 1; 

            ul{
                display:flex;
    
                li{
                    margin-right: 50px;
                    padding-bottom:5px;
                    a{
                        text-decoration:none;
                        font-size:20px;
                        color:$light-color;
                        font-weight:bold;

                        &:hover{
                            color:#5BC5F2;
                            position:relative;

                            &:after{
                                content:"";
                                position:absolute;
                                background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(91,197,242,1) 100%);
                                height:3px;
                                animation-name: fill;
                                animation-duration:0.5s;
                                animation-fill-mode:forwards;
                                bottom: -5px;
                                left:0;
                            }
                        }

                        &.selected{
                            color:#5BC5F2;
                            position:relative;
                            
                            &:after{
                                content:"";
                                position:absolute;
                                background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(91,197,242,1) 100%);
                                height:3px;
                                width:100%;
                                bottom: -5px;
                                left:0;
                            }
                        }
                    }
                }
            }
        }


        aside{
            display:flex;
            align-items:center;
            ul{
                display:flex;

                li{
                   margin-right:20px;

                   &:nth-of-type(5){
                       margin-right:0;
                       margin-left:20px;
                   }
                }
            }
        }

    }

}


.mobile{
    display:none;
    padding-top:20px;

    @include mq(420px){
        display:block;
    }

    .wrapper{
        justify-content: space-between;

        .logo{
            z-index:5;
        }

        aside{
            z-index:5;

            img{
                padding:20px;
                margin-left:16px;

                &:last-child{
                    padding:0;
                }
            }
        }
        .nav-mobile{
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:linear-gradient(52deg, rgba(0,160,230,1) 0%, rgba(46,61,140,1) 100%);
            transform:translateX(-100%);
            transition: transform 0.5s ease;

            &.nav-visible{
                transform: translateX(0);
            }

            
            .container{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);

                nav{
                    ul{
                        display:block;
                        text-align:center;

                        li{
                            margin-right:0;
                            margin-bottom:44px;
                        }
                    }
                }

                aside{
                    ul{
                        li{
                            a{
                                img{
                                    width:40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}