.hero{
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:117px;

    @include mq(420px){
        background-position:center;
    }

    .wrapper{
        height:100%;

        div{
            position:relative;
            top:50%;
            transform: translateY(-50%);
            width:fit-content;
            background-color: rgba(33,42,114,0.8);
            text-align:center;
            padding: 48px 0 56px 0;
            border-radius: 15px;
            box-shadow: 0px 6px 6px rgba(34, 31, 81, 0.2);
            
            img{
                width: 200px;
                width: 200px;
                animation-name: rotation;
                animation-duration: 1s;
                animation-delay:1.5s;
                animation-fill-mode: forwards;
            }

            article{
                margin-top:50px;
                h3{
                    font-family: "Azo BlackItalic";
                    font-size:30px;
                    text-transform:uppercase;
                }

                p{
                    font-size:18px;
                    max-width:478px;
                    margin-top:10px;
                    margin-bottom:30px;
                    span{
                        text-transform:uppercase;
                        font-family: "Azo Medium";
                    }
                }
            }
        }
    }
}