.nude{
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    background-position: top;
    
        header{
        padding-top: 24px;
        padding-bottom: 12px;
        position:static;
        width:100%;
        background: linear-gradient(52deg, rgba(0,160,230,1) 0%, rgba(33,42,114,1) 100%);

        
        
    }

    .wrapper{
        display: flex;
        justify-content: space-between;

    }

    .texto{

        h1{
            background-color:$secondary-color;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
            text-transform: uppercase;
            font-family: "Azo BoldItalic";

            @include mq(420px){
                font-size: 20px;
                text-align: center;
                 }
        }
    }

    .nude2{
       height: calc(100vh - 137px);
       background-repeat: no-repeat;
       background-size: cover;

        @include mq(420px){
            background-position: center;
             }
    

         .text2{
            position:relative;
            text-align: center;
            top:50%;
            transform: translateY(-50%);

            @include mq(420px){
                font-size: 15px;
                text-align: center;
                 }

            .t1{
                font-family: "Azo BoldItalic";
                font-size: 16px;
                margin-bottom: 20px;

                @include mq(420px){
                    font-size: 20px;
                    text-align: center;
                     }
    
            }
            h1{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                max-width: 482px;
                font-family: "Azo BlackItalic";
                font-size: 34px;
                text-transform: uppercase;
                text-shadow: 0.1em 0.1em 0.2em black;

                @include mq(420px){
                    font-size: 20px;
                    text-align: center;
                     }
    
            }
    
            .btn{
                &:hover{
                    &:before{
                        content:"PARTILHAR";
                        font-family:"Azo Bold";
                        font-size: 24px;
                        line-height:1;
                        text-transform: uppercase;
                        color:$primary-color;
                        position:absolute;
                        bottom:-59px;
                        left:0;
                        width:243px;
                        height:58px;
                        background-color:$light-color;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        transition: bottom 0.5s;
                    }
    
                }
                
            }
    
            .t2{
                margin-top: 15px;
    
                font-family: "Azo BoldItalic";
                font-size: 16px;

                @include mq(420px){
                    font-size: 15px;
                    text-align: center;
                     }
            }
        
    }


    }

}