.quizz{
    padding-left:0;
    padding-right:0;
    height:100vh;

    header{
        padding-top: 24px;
        padding-bottom: 12px;
        position:static;
        width:100%;
        background: linear-gradient(52deg, rgba(0,160,230,1) 0%, rgba(33,42,114,1) 100%);
        display:block;
        .wrapper{
            display:flex;
            justify-content: space-between;
            align-items: center;

            img{
                @include mq(420px){
                    width:100px;
                }
            }
            ul{
                display:flex;
                align-items: center;
                li{
                    position: relative;
                    top: 8px;

                    img{
                        @include mq(420px){
                            width:40px;
                        }
                    }
            
                    &:last-child{
                        margin-left:48px;
                        top: 0px;

                        @include mq(420px){
                            margin-left:20px;
                        }

                        img{
                            @include mq(420px){
                                width:17px;
                            }
                        }
                    }
                }
            }
        }
    }

    .slide-show{
        height: calc(100vh - 105px);
        overflow: hidden;

        @include mq(420px){
            height: calc(100vh - 88px);
        }

        .holder{
            height: 100%;
            display: grid;
            grid-template-columns: 100vw 100vw 100vw;
            position: relative;
            transition: all 1s ease;
            left:0;

            div{
                h1{
                    background-color:$secondary-color;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-transform: uppercase;
                    font-family: "Azo BoldItalic";

                    @include mq(420px){
                        font-size:20px;
                    }
                }

                .flex-container{
                    height: calc(100vh - 177px);
                    display: flex;
                    position: relative;

                    @include mq(420px){
                        height: calc(100vh - 160px);
                        flex-direction:column;
                    }

                    a{
                        width:50%;
                        position:relative;

                        @include mq(420px){
                            width:100%;
                            height:50%;
                        }
                       
                        .col{
                            overflow:hidden;
                            img{
                                width:100%;
                                height:auto;
                                object-fit:cover;
                                transition:all 0.5s ease;
                                transition-delay:0.5s;

                            }

                            h2{
                                font-family:"Azo BlackItalic";
                                font-size:34px;
                                text-transform:uppercase;
                                color:$light-color;
                                position:absolute;
                                top: 50%;
                                left:50%;
                                transform:translate(-50%,-50%);
                                width:fit-content;

                                @include mq(420px){
                                    font-size:20px;
                                }
                            }
                        }

                        &:hover{
                            .col{
                                img{
                                    transform:scale(1.5);
                                }
                            }
                        }
                    }
                    
                }

                &.slide-3{
                    .flex-container{
                        a{
                            width:25%;

                            @include mq(420px){
                                width:100%;
                                height:25%;
                            }

                            .col{
                                img{
                                    height:100%;

                                    &:nth-of-type(3){
                                        @include mq(420px){
                                                position: relative;
                                                top: -350px;
                                                height: auto;
                                        }
                                    }

                                    &:nth-of-type(4){
                                        @include mq(420px){
                                                height: auto;
                                                position: relative;
                                                top: -200px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}