.viagem{
    height:100vh;
    width:100vw;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    padding-left:0;
    padding-right:0;

    header{
        z-index:0;
        .wrapper{
            justify-content: space-between;

            img{
                cursor:pointer;
            }
        }
    }

    .desafio{
        height: 100%;
        padding-top: 97px;
        text-align: center;

        h1{
        
                background-color:$secondary-color;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                text-transform: uppercase;
                font-family: "Azo BoldItalic";

                @include mq(420px){
                    font-size: 20px;
                    padding-left: 28px;
                    padding-right: 28px;
                }
         
        }

        article{
            padding-top:32px;
            h2{
                font-size: 34px;
                text-transform: uppercase;
                font-family: "Azo BoldItalic";
                max-width: 650px;
                margin-right: auto;
                margin-left: auto;

                @include mq(420px){
                    font-size: 20px;
                    padding-left: 48px;
                    padding-right: 48px;
                }
            }

            img{
                margin-top:24px;
                transition:transform 1s;
                cursor:pointer;

                @include mq(420px){
                    width: 220px;
                }

                &:hover{
                    transform:rotate(180deg);
                }
            }
        }
        
    }
}

.popup-background{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(34,31,81,0.3);

    .popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color: 212A72;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    padding: 60px 44px 40px 44px;

        @include mq(420px){
                width: 320px;
                padding: 8px 8px;      
        }

        .close{
            position:absolute;
            top:30px;
            right:30px;
            cursor:pointer;
        }

        article{
            margin-bottom:40px;
            p{
                font-size:24px;

                @include mq(420px){
                    text-align: center;
                    font-size: 15px;
                }
            }

            h2{
                font-family:"Azo BoldItalic";
                font-size:39px;

                @include mq(420px){
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }

        .submit{
            display:flex;
            flex-direction:column;

            input{
                width:635px;
                height:53px;
                text-align:center;
                font-family:"Azo";
                font-size:15px;
                margin-bottom:40px;

                @include mq(420px){
                    width: 280px;
                    position: relative;
                    transform: translateX(-50%);
                    left: 50%;
                }
            }

            button{
                width:370px;
                height:59px;
                background-color:$secondary-color;
                position:relative;
                left:50%;
                transform:translateX(-50%);
                border:none;
                font-family:"Azo Bold";
                font-size:24px;
                text-transform: uppercase;
                color:$light-color;
                border-radius:60px;
                cursor:pointer;
                box-shadow: 0px 10px 10px rgba(34, 31, 81, 0.65);
                display:inline-block;
                transition:animation 0.5s;
                overflow:hidden;

                @include mq(420px){
                    width: 230px;
                    height: 40px;
                    font-size: 16px;
                }

                &:hover{
                    &:before{
                        bottom:0px;
                    }
                }

                &:before{
                    content:"SUBMETER";
                    font-family:"Azo Bold";
                    font-size:24px;
                    color:$primary-color;
                    background-color:$light-color;
                    position:absolute;
                    bottom:-59px;
                    left:0;
                    width:370px;
                    height:59px;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    transition: bottom 0.5s;
                }
            }

        }

        p{
            font-size: 12px;
            text-align: left;
            margin-top: 60px;
        }
    }
}